<section class="weather uk-container">
    <div class="weather-search">
        <div class="toggle">
            <label>
                <span class="hide">Ville:</span>
                <div class="uk-inline full">
                   <button type="button" (click)="onSearch()" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></button>
                   <input class="uk-input" type="search" id="address-input" [formControl]="cityName">
               </div>
            </label>
        </div>
        <span *ngIf="!data">Loading ...</span>
    </div>
    <div class="weather-container">

        <div *ngIf="data" class="weather-anim">
            <img class="weather-icon center" [src]="imgSrc[data.weather[0].main]" alt="">
            <div class="shadow center"></div>
        </div>
        <div *ngIf="data" class="weather-info">
            <div class="temp-container gradient-box center">
                <p class="temp">{{ data.main.temp }} C°</p>
            </div>
            <h1>{{ city }}</h1>
        </div>
    </div>
</section>
