.mb{margin-bottom: 1rem;}
.full{width: 100%;}
.hide{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.weather{
    min-height: 100vh;
    // background-image: linear-gradient(to bottom, rgba(241, 196, 130, 0.5), rgba(255, 188, 232, 0.8));
    background-image: url("../../assets/img/bg_rain_flower.jpg");
    background-size: cover;
    background-position: bottom right;
}

h1{
    text-align: center;
    margin: 0;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.weather-search{
    position: relative;
    text-align: center;
    margin-bottom: 2rem;

    button{
        background-color: #102051;
    }

    .toggle{
        display: block;
        // position: absolute;
        padding: 1rem 0;
        // top: -100%;
        // left: 0;
        // right: 0;
        transition: all .5s ease;

        &.active{
            top: 1rem;
        }

        .icon{
            display: block;
            padding-top: 1rem;
        }
    }
}

.center{
    margin: 0 auto;
}

.weather-icon,
.shadow{
    width: 50%;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.46, 0.13, 0.22, 0.71);
}

.weather-anim{
    text-align: center;

    .weather-icon{
        display: block;
        animation-name: upDown;
    }

}

.gradient-box{
    border-radius: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    border-top: 2px solid rgba(0, 0, 0, 0.8);
    background: linear-gradient(to bottom, rgba(16,32,81,1) 0%,rgba(33,79,178,1) 50%,rgba(21,59,135,1) 52%,rgba(77,97,142,1) 100%);
}

.weather-info{
    padding: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: .5rem;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .7);
        filter: blur(6px);
        margin: -20px;
    }
}

.temp-container{
    position: relative;
    width: 60%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);

    &::after{
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .temp{
        position: absolute;
        width: 100%;
        height: 100%;
        font-weight: 600;
        font-size: 2rem;
        transform: translateY(calc(50% - 1.5rem));
        text-align: center;
    }

}


.shadow{
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    animation-name: shadow;
    background: radial-gradient(rgba(0,0,0,.5), rgba(0,0,0,0), rgba(0,0,0,0));
}

@keyframes upDown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1rem);
    }
}

@keyframes shadow {
    0%{
        background: radial-gradient(rgba(0,0,0,.5), rgba(0,0,0,0), rgba(0,0,0,0));
    }
    50%{
        background: radial-gradient(rgba(0,0,0,.3), rgba(0,0,0,0), rgba(0,0,0,0));
    }
}

@media screen and (min-width: 640px) {
    .weather-container{
        display: flex;
        align-items:flex-end;
    }
    .weather-anim,
    .weather-info{
        width: 50%;
    }
}
